/* SideMenu color palette */
$accent-color: #e91e63;
$white: #FFFFFF;
$background: #141414;
$primary-text-color: #CCC;

/* SideMenu main styling sets */
body {
    .side-menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        min-height: 100vh;
        position: absolute;
        z-index: 110;
        top: 0px;
        right: 0px;
        background-color: $background;
        &.opened {
            transform: translateY(0vh);
            transition: all 0.35s ease;
        }
        &.closed {
            transform: translateY(-150vh);
            transition: all 0.35s ease;
        }
        nav {
            display: flex !important;
            ul {
                flex-direction: column !important;
                li {
                    font-size: 25px;
                    padding: 0px 0px 30px 0px;
                }
            }
        }
    }
}