/* SocialBar color palette */
$accent-color: #e91e63;
$white: #FFFFFF;

/* SocialBar main styling sets */
body {
    #social-wrapper {
        display: flex;
        min-height: 5vh;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-bottom: 0px;
            padding-inline-start: 0px;
            li {
                margin: 0px 10px 0px 10px;
                a {
                    //color: $white;
                    svg {
                        transform: translateY(0px);
                        transition: all 350ms ease;
                        &:hover {
                            color: $accent-color !important;
                            transform: translateY(-5px);
                            transition: all 350ms ease;
                        }
                    }

                }
            }
        }
    }
}